<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuk.hors.admin.impl.AdminDAO">

    <select id="selectAdminInfo"
            parameterType="com.tuk.hors.admin.vo.AdminInfo"
            resultType="com.tuk.hors.admin.vo.AdminInfo">
        SELECT
            ADMIN_ID
             , ADMIN_NM
        FROM T_ADMIN_INFO
        WHERE
            ADMIN_ID = #{adminId}
            AND ADMIN_PW = #{adminPw}
    </select>

    <select id="selectReserveList"
            resultType="com.tuk.hors.admin.vo.ReserveInfo">
        SELECT
            RS.RESERVATION_ID
            , RS.ROOM_ID
            , RS.USER_CODE
            , R.ROOM_NAME
            , R.ROOM_PRICE
            , R.ROOM_DESC
            , R.ROOM_IMG_URL
            , R.NUM_PERSON
        FROM RESERVATION AS RS
        LEFT JOIN ROOM AS R ON RS.ROOM_ID = R.ROOM_ID
    </select>

</mapper>