<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuk.hors.room.service.impl.RoomDAO">
    <select id="selectRoomList" resultType="com.tuk.hors.room.DTO.RoomDTO">
        SELECT
            ROOM_ID, ROOM_NAME, ROOM_PRICE, ROOM_DESC, ROOM_IMG_URL,
            (SELECT IFNULL(ROUND(AVG(REVIEW_SCORE)), 0) FROM REVIEW WHERE ROOM_ID = r.ROOM_ID) AS AVG_SCORE
        FROM
            room r
        ORDER BY ROOM_ID
        LIMIT 3
    </select>
    <select id="selectRoomInfo" resultType="com.tuk.hors.room.DTO.RoomDTO">
        SELECT
            ROOM_ID, ROOM_NAME, ROOM_PRICE, ROOM_DESC, ROOM_IMG_URL
            <if test='userCode != null and userCode != ""'>
                ,IF(EXISTS(SELECT * FROM reservation WHERE ROOM_ID = r.ROOM_ID AND USER_CODE = #{userCode}), 'Y', 'N') AS RESERVATION_YN
            </if>
        FROM
            room r
        WHERE
            ROOM_ID = #{roomId}
    </select>
    <select id="selectRandomRoomInfo" resultType="com.tuk.hors.room.DTO.RoomDTO">
        SELECT
            ROOM_ID, ROOM_NAME, ROOM_PRICE, ROOM_DESC, ROOM_IMG_URL
        FROM
            room r
        WHERE
            ROOM_ID != #{roomId}
        ORDER BY RAND()
        LIMIT 1
    </select>
    <insert id="insertReservation">
        INSERT INTO reservation(
            ROOM_ID, USER_CODE
        ) VALUES (
            #{roomId}, #{userCode}
        )
    </insert>
    <delete id="deleteReservation">
        DELETE FROM reservation
        WHERE
            ROOM_ID = #{roomId}
            AND USER_CODE = #{userCode}
    </delete>
    <select id="selectUserReservationList" resultType="com.tuk.hors.room.DTO.RoomDTO">
        SELECT
            re.RESERVATION_ID, re.ROOM_ID, re.USER_CODE, ro.ROOM_NAME, ro.ROOM_PRICE, ro.ROOM_DESC, ro.ROOM_IMG_URL, ro.NUM_PERSON
        FROM
            reservation re
            LEFT JOIN room ro ON re.ROOM_ID = ro.ROOM_ID
        WHERE
            re.USER_CODE = #{userCode}
    </select>
    <insert id="insertReview">
        INSERT INTO review(
            ROOM_ID, USER_CODE, REVIEW_SCORE, REVIEW_CONTENT
        ) VALUES (
            #{roomId}, #{userCode}, #{reviewScore}, #{reviewContent}
        )
    </insert>
    <select id="selectReviewInfo" resultType="com.tuk.hors.room.DTO.ReviewDTO">
        SELECT
            REVIEW_ID, ROOM_ID, REVIEW_SCORE, REVIEW_CONTENT
        FROM
            review
        WHERE
            ROOM_ID = #{roomId}
            AND USER_CODE = #{userCode}
    </select>
</mapper>